.bg-color{
    background-color: #f9f9f9;
}
.jumbotron {
    background: linear-gradient(45deg,#303f9f,#7b1fa2) !important;
}
.card-header{
    background: linear-gradient(45deg,#303f9f,#7b1fa2);
    box-shadow: 3px 3px 20px 0 rgba(123,31,162,.5);
    padding: 5px;
}
.card-header .btn{
    color: white;
    font-weight: 600;
    width: 100%;
    text-align: left;
}
.collapse .card-body{
    padding: 10px !important;
}
.collapse a{
    margin: 7px 0px;
    background-color: rgb(255, 64, 129);
    border: none;

    color: aliceblue !important;
}
.btn-info {
    color: #fff;
    background-color: rgb(255, 64, 129) !important;
    border-color: none !important;
}

.btn-info:hover{
    background-color: #ff5a92;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.12),0 1px 5px 0 rgba(0,0,0,.2);
}
